.card-morph{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.7 );
}

.currentIcon img{
    width: 80px;
    height: 80px;
    top:0px;
    right: 15%;
}

.currentIcon .rounded-full{
    top:10px;
    right: 40px;
}

.curTemp{
    font-weight: 800;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.details h4{
    font-weight: 500;
    font-size: 20px;
}

.details h6{
    font-size: 14px;
}

.forecastDaysBtn button{
    background: rgba( 255, 255, 255, 0.1 );
    color:white;
}

.forecastDaysBtn button.active{
    background:white !important;
    color:darkmagenta;
}

.fade-in {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }